#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #ffffff;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc;
	border-color: #005d83;
	font-size: 15pt;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	 }

#nav li {
	float: left; }
#nav li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #1365b1;
		border-right: 1px solid #ccc; }